*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkgoldenrod;
    border: 1px solid red;
    
}

.container{
    position: relative;
    height: 450px;
    width: 750px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(234, 227, 126)
}

.Singin-Signup{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}